- name: Deploy Next.js app on GCP VM
  hosts: webserver
  become: yes

  vars:
    project_repo: 'https://github.com/Moh-hamdaoui/Burger-cicd-project.git'
    project_path: '/home/nextjs-ci-server/web-app'
    project_branch: 'main'

  tasks:

    - name: Ensure project directory exists
      file:
        path: "{{ project_path }}"
        state: directory
        owner: nextjs-ci-server
        group: nextjs-ci-server
        mode: '0755'

    - name: Install git
      apt:
        name: git
        state: present
        update_cache: yes

    - name: Install Node.js and npm
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - nodejs
        - npm

    - name: Install pm2 globally
      npm:
        name: pm2
        global: yes
        state: present

    - name: Clone the project
      git:
        repo: "{{ project_repo }}"
        dest: "{{ project_path }}"
        version: "{{ project_branch }}"
        force: yes
        update: yes
        accept_hostkey: yes

    - name: Install Node.js dependencies
      command: npm install
      args:
        chdir: "{{ project_path }}"

    - name: Build Next.js project
      command: npm run build
      args:
        chdir: "{{ project_path }}"

    - name: Start or restart Next.js in production
      command: pm2 restart next-app || pm2 start npm --name "next-app" -- run start
      args:
        chdir: "{{ project_path }}"
